.wrapper {
  position: absolute;

  text-align: center;
  bottom: 50%;
  left: 50%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
  z-index: 15;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 16px 64px;
  background-color: red;
  font-weight: bold;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.487),
    2px 6px 13px rgba(0, 0, 0, 0.646), 3px 9px 16px rgba(0, 0, 0, 0.855);
}

.wrapper.wrapperLoad {
  opacity: 1;
  transform: translateY(250%) translateX(-50%);
  border: 1px solid var(--red);
  transition: transform 1000ms ease-in-out 500ms,
    opacity 500ms ease-in-out 500ms, border 250ms ease-in-out;
}
.text {
  font-size: 18px;
}
.icon {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
}
.btn {
  position: absolute;
  top: 50%;
  left: 4%;
  z-index: 100;
  padding: 6px;
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 4px;
  background-color: var(--light-grey);
  transform: scale(1) translateY(-50%);
  transition: transform 250ms ease-in-out, border 250ms ease-in-out,
    color 250ms ease-in-out;
}
.btn:hover,
.btn:focus {
  border: 1px solid var(--light-grey);
  background-color: var(--black);
  color: var(--light-grey);
  transform: scale(1.2) translateY(-50%);
}
