/* .cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1000ms;
  transform-style: preserve-3d;
} */

/* .item:hover .cardInner {
  transform: rotateY(180deg);
} */

/* .front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
} */
/* 
/*  .back { 
  transform: rotateY(180deg);
   background-color: var(--middle-grey); 
} */
.wrapper {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.image {
  border-radius: inherit;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infoWrapper {
  position: absolute;
  width: 100%;
  background-color: var(--light-grey);
  bottom: 0;
  left: 0;
}
